server:
  servlet:
    context-path: / # 如果需要设置上下文路径，请在这里填写

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/work2?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: safe_user
    password: safe_user
    type: com.alibaba.druid.pool.DruidDataSource

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-aliases-package: cn.helloworld1999.work2
  global-config:
    db-config:
      # 逻辑删除配置
      logic-delete-field: idDeleted # 全局逻辑删除的实体字段名
      logic-delete-value: 1 # 逻辑已删除值
      logic-not-delete-value: 0 # 逻辑未删除值
  # 分页插件配置
  #pagination: true
  #page-size-zero: false
  #reasonable: true
  #dialect: mysql

# 开启debug模式
#debug: true
