* {
    margin: 0; !important;
    padding: 0; !important;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* 隐藏滚动条 */
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* 隐藏滚动条 */
}

.el-header {
    background-color: #409EFF; /* Element UI 主色 */
    height: 10vh; /* 调整高度 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff; /* 白色 */
    font-size: 1.5em;
}

.el-container {
    display: flex;
    flex-direction: row;
    background-color: #f5f7fa; /* 浅灰色 */
    width: 100vw;
    height: calc(100vh - 10vh); /* 调整高度 */
    overflow: hidden; /* 隐藏滚动条 */
}

.el-main {
    height: 100%;
    padding: 0;
    background-color: #ffffff; /* 白色 */
}

.el-menu-vertical-demo {
    border-right: none;
    width: 100%; /* 设置菜单宽度为100% */
    padding: 0; /* 移除内边距 */
}

.el-menu-item, .el-submenu__title {
    font-size: 1.2em;
    color: #333333; /* 深灰色 */
}
.el-footer{
    padding: 0;
}
.el-menu-item:hover, .el-submenu__title:hover {
    background-color: #409EFF !important; /* Element UI 主色 */
    color: #ffffff !important; /* 白色 */
}
