/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.el-main {
    width: 30vw;
    padding: 20vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.el-form-item {
    margin-bottom: 25px;
}

.el-button--primary {
    width: 100%;
}
.loginBox{
    width: 25vw;
    height:30vh;
}

.loginButton{
    width: 10vw;
    height: 5vh;
    background-color: #b62222;
}
#loginForm{
    align-items: center;
    height: 40vh;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#app{
    background-image: url("../image/161121.jpg");
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}
