<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OA审批管理系统</title>
    <!-- Element UI 的 CSS 文件 -->
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css"/>
    <!-- 自定义样式文件 -->
    <link rel="stylesheet" href="/css/home.css">
    <!-- Vue 和 Element UI 的 JS 文件 -->
    <script type="text/javascript" src="../js/tool/vue.js"></script>
    <script type="text/javascript" src="../element-ui/lib/index.js"></script>
    <!-- axios -->
    <script type="text/javascript" src="../js/tool/axios.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header id="header">
            <!-- 头部内容 -->
            <el-button type="primary" @click="drawer = true">菜单</el-button>
        </el-header>
        <el-container id="container">
            <el-main style="display: flex; flex-direction: column;">
                <iframe name="mainFrame" src="http://localhost:8080/page/backlog.html" width="100%" height="100%" style="border: none; margin: 0; padding: 0; flex-grow: 1;"></iframe>

            </el-main>
        </el-container>
    </el-container>
    <el-drawer
            title="菜单"
            :visible.sync="drawer"
            direction="ltr"
            size="20%">
        <el-menu
                :default-active="activeIndex"
                class="el-menu-vertical-demo"
                @select="handleSelect"
        >
            <!-- 递归渲染菜单项 -->
            <template v-for="(item, index) in menuData">
                <menu-item :item="item" :key="item.id"></menu-item>
            </template>
        </el-menu>
    </el-drawer>
</div>

<script>
    Vue.component('menu-item', {
        props: ['item'],
        template: `
          <el-submenu v-if="item.children && item.children.length" :index="item.id">
            <template #title>
              <span>{{ item.permName }}</span>
            </template>
            <menu-item v-for="child in item.children" :key="child.id" :item="child"></menu-item>
          </el-submenu>
          <el-menu-item v-else :index="item.id">
            <span>{{ item.permName }}</span>
          </el-menu-item>
        `
    });

    new Vue({
        el: '#app',
        data: {
            activeIndex: '1', // 默认激活的菜单项索引
            menuData: [],
            drawer: false // 控制抽屉的显示
        },
        methods: {
            handleSelect(key, keyPath) {
                // 设置 iframe 的 src
                const selectedItem = this.findMenuItemById(this.menuData, key);
                console.log('Selected Item:', selectedItem); // 调试输出
                if (selectedItem && selectedItem.route) {
                    document.querySelector('iframe[name="mainFrame"]').src = selectedItem.route;
                    this.drawer = false; // 关闭抽屉
                }
            },
            findMenuItemById(menuData, id) {
                for (let item of menuData) {
                    console.log('Checking item:', item); // 调试输出
                    if (item.id === id) {
                        return item;
                    }
                    if (item.children && item.children.length) {
                        const found = this.findMenuItemById(item.children, id);
                        if (found) {
                            return found;
                        }
                    }
                }
                return null;
            },
            createRoleMenu(){
                console.log("创建角色菜单");
                axios.post('/LoginController/createRoleMenu',{

                }).then(res=>{
                    console.log(res.data.data);
                    this.menuData = res.data.data;
                });
            }
        },
        created() {
            // 获取菜单数据
            this.createRoleMenu();
        },
    });

</script>
</body>
</html>
