<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- Element UI 的 CSS 文件 -->
    <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css"/>
    <!-- 自定义样式文件 -->
    <link rel="stylesheet" href="/css/sysUserManagePage.css">
    <!-- Vue 和 Element UI 的 JS 文件 -->
    <script type="text/javascript" src="../js/tool/vue.js"></script>
    <script type="text/javascript" src="../element-ui/lib/index.js"></script>
    <script type="text/javascript" src="../js/tool/axios.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header id="header">
            <el-input v-model="find.id" placeholder="ID"></el-input>
            <el-input v-model="find.account" placeholder="账号"></el-input>
            <el-input v-model="find.name" placeholder="姓名"></el-input>
            <el-input v-model="find.phoneNumber" placeholder="电话号"></el-input>
            <el-input v-model="find.gender" placeholder="性别"></el-input>
            <el-input v-model="find.birthdate" placeholder="出生日期"></el-input>
            <el-button type="primary" @click="findAll">查询</el-button>
        </el-header>
        <el-main id="main">
            <el-table
                    stripe
                    highlight-current-row
                    :data="tableData"
                    style="width: 100%">
                <el-table-column
                        prop="id" label="ID" width="180">
                </el-table-column>
                <el-table-column
                        prop="account" label="账号" width="180">
                </el-table-column>
                <el-table-column
                        prop="password" label="密码" width="180">
                </el-table-column>
                <el-table-column
                        prop="name" label="姓名" width="180">
                </el-table-column>
                <el-table-column
                        prop="phoneNumber" label="电话号" width="180">
                </el-table-column>
                <el-table-column
                        prop="gender" label="性别" width="180">
                </el-table-column>
                <el-table-column
                        prop="birthdate" label="出生日期" width="180">
                </el-table-column>
                <el-table-column
                        prop="rolesId" label="角色id" width="180">
                </el-table-column>
                <el-table-column
                        prop="imgPath" label="头像" width="180">
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">编辑
                        </el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-main>
        <el-footer id="footer">
            <div class="block">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="page.currentPage"
                        :page-sizes="[10, 50, 100, 1000]"
                        :page-size="page.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="page.total">
                </el-pagination>
            </div>
        </el-footer>
    </el-container>
    <el-dialog
            title="编辑"
            :visible.sync="dialogVisible"
            width="30%">
        <el-form :model="form" label-width="80px">
            <el-form-item label="ID">
                <el-input v-model="form.id" disabled></el-input>
            </el-form-item>
            <el-form-item label="用户名">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input v-model="form.password"></el-input>
            </el-form-item>
            <el-form-item label="用户类型">
                <el-input v-model="form.type"></el-input>
            </el-form-item>
            <el-form-item label="备注">

            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false;form = {}">取 消</el-button>
            <el-button type="primary" @click="updateUser">确 定</el-button>
        </span>
            </el-dialog>
</div>
<!------------------------------------------------------------------------------------------------------------------>
<!------------------------------------------------------------------------------------------------------------------>
<script>
    new Vue({
        el: '#app',
        data: {
            dialogVisible: false, // 控制编辑弹窗的显示与隐藏
            tableData: [], // 存储表格数据
            find: {
                id:null,
                account:null,
                password:null,
                name:null,
                phoneNumber:null,
                gender:null,
                birthdate:null,
                rolesId:null,
                imgPath:null,
            },
            form: {
                id:null,
                account:null,
                password:null,
                name:null,
                phoneNumber:null,
                gender:null,
                birthdate:null,
                rolesId:null,
                imgPath:null,
            },
            page: {
                pageSize: 10, // 初始化每页条数
                currentPage: 1, // 初始化当前页码
                total: 0 //总条数
            },
            total: 0 // 数据总条数
        },
        methods: {
            findUserByInput() {
                axios.post('/UserInfo/findUserByInput',
                    {
                        pageInfo: this.page,
                        userInfo: this.find
                    }
                ).then(res => {
                    if (res.data.success === true) {
                        this.tableData = res.data.data.records;
                        this.page.currentPage = res.data.data.current;
                        this.page.pageSize = res.data.data.size;
                        this.page.total = res.data.data.total; // 更新数据总条数
                    }
                });
            },
            // 通过输入项执行动态+模糊查询
            findAll() {
                axios.post('/SysUserController/findAll', {
                    currentPage: this.page.currentPage,
                    pageSize: this.page.pageSize,
                    id:this.find.id,
                    account:this.find.account,
                    password:this.find.password,
                    name:this.find.name,
                    phoneNumber:this.find.phoneNumber,
                    gender:this.find.gender,
                    birthdate:this.find.birthdate,
                    rolesId:this.find.rolesId
                }).then(res => {
                    if (res.data.success === true) {
                        this.tableData = res.data.data.records;
                        this.page.currentPage = res.data.data.current;
                        this.page.pageSize = res.data.data.size;
                        this.page.total = res.data.data.total; // 更新数据总条数
                    }
                });
            },
            // 处理每页条数变化的函数
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.page.pageSize = val; // 更新每页条数
                this.findAll(); // 重新获取数据
            },
            // 处理当前页码变化的函数
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.page.currentPage = val; // 更新当前页码
                this.findAll(); // 重新获取数据
            },
            // 删除
            deleteUserById(id){
                axios.post('/UserInfo/deleteUserById',{
                    id:id
                }).then(res=>{
                    if(res.data.success===true){
                        this.openMessage("删除成功",'success')
                        this.userInfoPagination();
                    }else{
                        this.openMessage("删除失败",'error')
                    }
                }).catch(error => {
                    console.error('删除请求失败:', error);
                    this.openMessage("删除请求失败，请稍后再试",'error');
                });
            },
            // 修改
            updateUser(){
                axios.post('/UserInfo/updateUser',{
                    id:this.form.id,
                    username:this.form.username,
                    password:this.form.password,
                    type:this.form.type,
                    remarks:this.form.remarks
                }).then(res=>{
                    if(res.data.success===true){
                        this.findUserByInput();
                        this.dialogVisible = false;
                        this.openMessage("修改成功",'success')
                    }else{
                        this.dialogVisible = false;
                        this.openMessage("修改失败",'error')
                    }
                }).catch(error => {
                    this.dialogVisible = false;
                    this.openMessage("修改请求失败，请稍后再试",'error');
                });
            },
            // 编辑 按钮
            handleEdit(index, row){
                this.form = row;
                this.dialogVisible = true;
            },
            // 删除 按钮
            handleDelete(index, row){
                this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.deleteUserById(row.id);
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                    this.findUserByInput();
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
        },

        created() {
            this.findAll(); // 初始化时获取数据
        }
    });
</script>
</body>
</html>
